<!DOCTYPE html>
<html>
  <head>
    <title>Inicio de sesión</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    
    <div class="login-wrapper">
        <div><h1>Life-Board</h1></div>
      <form>
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password">
        <div class="remember-me">
          
          <label for="remember-me">Recordar mi contraseña</label> <input type="checkbox" id="remember-me" name="remember-me">
        </div>
        <input type="submit" value="Iniciar sesión">
      </form>
    </div>
  </body>
</html>
